   <form method="get" action="/consulta/lista">
     <!-- <%= param %> <p>: -->
     Cliente:
    <input type="text" name="ubi" placeholder="Responda aquí"/>
    <input type="submit" value="Enviar">
    </form>
